[Desktop Entry]
Name=z1188
Comment=Find adresses or phone numbers for private people or professionals everywhere in Moldova.
GenericName=z1188 –  Phone Book of Moldova
Exec=z1188
Icon=z1188
Categories=Office;Qt;
Terminal=false
Type=Application
Version=1.0
Name[ru]=z1188
Comment[ru]=Поиск телефонных номеров абонентов Молдтелеком
GenericName[ru]=Телефонный справочник Молдовы